* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navi {
    padding: 20px 20px;
}

.mainul {
    display: flex;
    transition-duration: 3s;
}

.mainul li:hover {
    color: #0000ff;
    cursor: pointer;
}

.firstp {
    text-align: justify;
}

.respnav {
    display: none;
    transition-duration: 3s;
}

.newul {
    display: none;
    list-style: none;
    width: 200px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 73%;
    transition-duration: 5s;
}

.newul li:hover {
    color: #0000ff;
}


.desk1std {
    display: flex;
}

.phone1stdiv {
    display: none;
}

.pillholder {
    width: 100%;
}

.mainpill {
    width: 100%;
    gap: 20px;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.pill {
    background-color: #fff;
    color: #0000ff;
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.missworks{
    display: flex;
    padding: 50px;
    width: 100%;
}

.ourmiss{
    text-align: justify;
    padding: 50px;
    width: 50%;
}

.hitworks{
    text-align: justify;
    padding: 50px;
    width: 50%;
}

.whyvision{
    display: flex;
    padding: 50px;
    width: 100%;
    /* border: 5px #fff solid; */
}

.whyus{
    text-align: justify;
    padding: 50px;
    width: 50%;
    /* border: 2px #0066ff solid; */
}

.vision{
    text-align: justify;
    padding: 50px;
    width: 50%;
    /* border: 2px #0066ff solid; */
}

.featuresvid{
    display: flex;
    padding: 50px;
    width: 100%;
    margin: 5px 0;
}

.features{
    text-align: justify;
    padding: 50px;
    width: 50%;
}

.vidyo{
    text-align: justify;
    padding: 50px;
    width: 50%;
}

.newb {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 3px #0e6efd solid;
    background-color: #0e6efd;
    font-size: 16px;
    color: #fff;
}



@media screen and (max-width: 360px) {
    .pill{
        display: none;
    }

    .newul {
        width: 110px;
        font-size: 14px;
        top: 50px;
        left: 56%; /* 180px/320 */
        transition-duration: 5s;
    }

    .missworks{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    .ourmiss{
        text-align: justify;
        padding: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .navi {
        padding: 10px 20px;
    }

    .mainul {
        display: none;
    }
    
    .respnav {
        display: block;
    }

    .newul {
        width: 120px;
        font-size: 14px;
        top: 50px;
        left: 63%;
        transition-duration: 5s;
    }

    .newul li{
        height: 30px;
    }

    .respnav:hover .newul{
        display: block;
    }

    .desk1std {
        display: none;
    }

    .phone1stdiv {
        display: inline-block;
    }

    .firstmessage {
        display: block;
    }

    .missworks{
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
        gap: 30px;
    }

    .ourmiss{
        padding: 10px;
        width: 100%;
    }

    .hitworks{
        padding: 10px;
        width: 100%;
    }

    .whyvision{
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
        gap: 30px;
    }

    .whyus{
        padding: 10px;
        width: 100%;
    }

    .vision{
        padding: 10px;
        width: 100%;
    }

    .featuresvid{
        display: flex;
        flex-direction: column;
        padding: 30px 15px;
    }

    .features{
        padding: 10px;
        width: 100%;
    }

    .vidyo{
        padding: 10px;
        width: 100%;
    }

    .newb {
        width: 250px;
    }

}

@media screen and (min-width: 481px) and (max-width: 900px) {
    .navi {
        padding: 10px 20px;
    }

    .mainul {
        display: none;
    }
    
    .respnav {
        display: block;
    }

    .newul li{
        height: 50px;
    }

    .respnav:hover .newul{
        display: block;
    }

    .desk1std {
        display: none;
    }

    .phone1stdiv {
        display: inline-block;
    }

    .firstmessage {
        display: block;
    }

    .pill {
        width: 80%;
        margin: 30px 10%;
        gap: 50px;
        padding: 10px;
        font-weight: bold;
    }

    .missworks{
        padding: 30px 20px;
    }

    .ourmiss{
        padding: 20px;
    }

    .hitworks{
        padding: 20px;
    }

    .whyvision{
        padding: 30px 20px;
        gap: 4%;
    }

    .whyus{
        padding: 20px;
        width: 48%;
    }

    .vision{
        padding: 20px;
        width: 48%;
    }

    .featuresvid{
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
    }

    .features{
        padding: 20px;
        width: 100%;
    }

    .vidyo{
        padding: 20px;
        width: 100%;
    }

}

@media screen and (min-width: 901px) and (max-width: 1350px) {
    .navi {
        padding: 20px 15px;
    }
    
    .mainpill {
        gap: 10px;
        padding: 10px 3px;
        font-size: 15px;
    }
}